
:root {
    --cor-primaria: #F26A8D;
    --cor-segundaria: #DD2D4A;
    --cor-fundo: #CBEEF3;
    --cor-texto: #000;
    --cor-contraste: #880D1E;
    --cor-botao: #CBEEF3;

    --fonte-texto:cursive, sans-scrif
}

.tema-escuro {
    --cor-primaria: #0D9572;
    --cor-segundaria: #22D2B5;
    --cor-fundo: #2b0f0a;
    --cor-texto: #FFFFFF;
    --cor-contraste: #77F2E1;
    --cor-botao: #34110C;
    
}

.btn-tema-escuro{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 32px;
    padding: 12px;
    background-color: var(--cor-primaria);
    border-radius: 50%;

}

.tema-escuro .btn-tema-escuro {
    background-color: var(--cor-secundaria);
}

* {
    transition: background-color 0.8s ease;
}

article {
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    padding: 15px;

    font-family: var(--fonte-texto);
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

article {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    margin-bottom: 40px;    
    border-bottom: 1px solid var(--cor-botao); 
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

img.capa-livro,
img.capa-livro2,
img.capa-livro3 {
    width: 250px;        
    height: 350px; 
    border: 3px solid var(--cor-texto);
    border-radius: 0;
}

.artigo-autor {
    font-weight: bold;
}

button {
    background-color: var(--cor-botao);
    color: var(--cor-texto); 
    border: 1px solid var(--cor-contraste); 
    border-radius: 20px;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}